@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  color: #222222;
  overscroll-behavior-y: contain;
  overflow: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  line-height: 1.8;
}

li,
ol {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 860px;
  margin: 0 auto;
}
